
.formulario-completo{
    padding: 50px;
}
.formulario{
    padding: 20px;
}
.clave-y-contraseña {
    padding: 20px;
}
.enviar-informacion {
    padding: 50px;
}

.formulario-contacto {
    padding: 15px 150px 150px 150px;
}

.contactanos {
    text-align: center;
}
.typo-contacto {
    padding: 40px 15px 5px 15px;
    font-weight: bold;
 }