$color-prim: rgb(7, 66, 36);
$color-sec: rgb(255, 255, 255);
$generalpx-1: 8px;
$typo-flor:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
span {font-weight: bold;}
h3 {font-weight: bolder;}